body {
    margin: 40px;
  }

  .wrapper {
    background-color: #fff;
    color: #444;
    display: grid;
    /* grid-gap: 10px; */
    grid-template-rows: repeat(3,[row] auto);
    height: 400px;
    width: 200px;
   
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 200%;

    
  }

  
  .a {
    width: 200px;
    height: 200px;
    grid-row: row;
  }
  .b {
    width: 200px;
    height: 200px;
    grid-row: row;
  }
  .c {
    width: 200px;
    height: 200px;
    grid-row: row 2;
  }
  .d {
    width: 200px;
    height: 200px;
    grid-row: row 2;
  }
.i {
  grid-column: col 2 / span 10;
    grid-row: row 2;
    background-color: rgba(49,121,207, 0.5);
    z-index: 30;
}